@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Oxygen");

body
{
	display: table;
    width: 720px;
	margin: auto;
	font-family: "Roboto";
}

#header 
{
	display: inline-block;
	width: 720px;
	background-color: #ff9b37;
	margin-bottom: 10px;
}

#masthead_background
{
	height: 150px; 
	width: 500px;
	border-radius: 5px;
	background-color: gainsboro;
	float: left;
	display: inline-block;
	margin: 15px;
}

#masthead_image
{
	float: left;
	height: 120px;
	width: 120px;
	margin: 15px;
}

.left 
{
	display: inline-block;
	padding: 15px;
	width: 205px;
	background-color: #aadcdc;
	float: left;
	margin-bottom: 15px;
}

.right 
{
	display: inline-block;
	height: 159px;
	width: 420px;
	background-color: #f0f0dc;
	padding: 15px 25px 15px 25px;
	float: right;
	margin-bottom: 15px;
	border-radius: 0px 0px 5px 5px;
} 

.divider
{
	clear: both;
	display: table;
	height: 50px;
	width: 100%;
	background-color: #64d2dc;
	border-radius: 5px 5px 0px 0px;
}

.divider_subpage
{
	clear: both;
	position: fixed;
	display: table;
	height: 50px;
	width: 720px;
	z-index: 100;
	background-color: #64d2dc;
	border-radius: 5px 5px 0px 0px;
}


.divider_image
{
	float: left;
	height: 40px;
	margin: 5px;
}

.divider_right 
{
	float: right;
	width: 470px;
	display: table;
	height: 50px;
	background-color: #64d2dc;
	border-radius: 5px 5px 0px 0px;
}

.section
{
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
	width: 660px;
	background-color: #f0f0dc;
	padding: 15px 30px 15px 30px;
}

.section_subpage
{
	position: absolute;
	top: 50px;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
	width: 660px;
	background-color: #f0f0dc;
	margin-bottom: 15px;
	padding: 15px 30px 15px 30px;
}

details
{
	background-color: #f0f0dc;
	border-radius: 0px 0px 5px 5px;
	margin-bottom: 15px;
}

summary
{
	margin-left: 5px;
}

.outer
{
	display: table;
}

.h_center_inner
{
	display: table;
	margin: 0 auto;
}

.v_center_inner 
{
	display: table-cell;
	vertical-align: middle;
}
	
h1
{
	margin-bottom: 5px;

}

h2
{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h3
{
	margin-top: 0px;
	margin-bottom: 0px;
}

h4
{
	margin-bottom: 0px;
}

div
{
	border-radius: 5px;
}

.calculator
{
	display: table;
	margin: 0 auto;
	background-color: #323232;
	color: #00ff00;
	padding: 10px;
	border-radius: 20px;
	font-family: Consolas, Courier;
	font-size: 0.8em;
}

input[type = "text"]
{
	background-color: #4b4b4b; 
	border-color: #00ffff;
	border: none;
	border-radius: 5px;
	font-family: Courier;
	color: #00ffff;
}

p 
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify;
}

.QED
{
	font-size: 1.25em;
	text-align: right;
	font-weight: bold;
}

li
{
	text-align: justify;
}

a 
{
    color: #5050c8;
}

a:hover 
{
    font-weight: bold;
}

a:visited 
{
    color: #7f007f;
}

.button_link
{
	color: #64d2dc;
	text-decoration: none;
}

.button_link:hover
{
	color: #e1ffff;
	text-decoration: none;
}

.button
{
    height: 46px;
	width: 205px;
	background-color: #e1ffff;
	border-color: #64d2dc;
	border-style: solid;
	font-size: 20px;
	text-align: center;
	border-width: 2px;
}

.button_follow
{
	display: inline-block;
    height: 46px;
	width: 205px;
	background-color: #e1ffff;
	border-color: #64d2dc;
	border-style: solid;
	font-size: 20px;
	text-align: center;
	border-width: 2px;
	margin-top: 3px;
}

.button_square
{
	height: 100px;
	width: 153.5px;
	background-color: #e1ffff;
	border-color: #64d2dc;
	border-style: solid;
	font-size: 0.8em;
	text-align: center;
	font-weight: bold;
	border-width: 2px;
	display: inline-block;
}

.button_square img
{
	max-height: 75px;
	max-width: 150px;
}

.button:hover
{
	font-weight: bold;
	background-color: #64d2dc;
	border-color: #e1ffff;
}

.button_square:hover
{
	font-weight: bold;
	background-color: #64d2dc;
	border-color: #e1ffff;
}

.button_follow:hover
{
	font-weight: bold;
	background-color: #64d2dc;
	border-color: #e1ffff;
}

.padded_image
{
	margin: 15px 15px 15px 0px;
	max-height: 200px;
	float: left;
	clear: both;
}
	
#footer 
{
	clear: both;
	display: table;
	height: 50px;
	width: 100%;
	background-color: #ff9b37;
	border-radius: 5px;
	padding: 15px 25px 15px 25x;
}