@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

body
{
	display: table;
    width: 720px;
	margin: auto;
	font-family: "Roboto";
	font-weight: 300;
}

#header 
{
	display: inline-block;
	width: 690px;
	padding: 15px;
	/*background-color: #50bec8;#ff9b37*/
	background-color: lightskyblue;
	margin-bottom: 10px;
}

#masthead_background
{
	width: 540px;
	border-radius: 0px;
	background-color: #e1ffff;
	float: left;
	margin-right: 15px;
	display: inline-block;

}

#masthead_image
{
	float: left;
	height: 120px;
	width: 120px;
	margin: 15px;
}

.footnote
{
	font-size: 0.5em;
}
.updates
{
	font-size: 0.5em;
	font-style: italic;
}
.left 
{
	display: inline-block;
	width: 210px;
	background-color: lightblue;
	float: left;
	margin-bottom: 10px;
	padding: 15px;
}

.left .button_link
{
	color: deepskyblue;
}
.right 
{
	display: inline-block;
	height: 176px;
	width: 420px;
	background-color: #f0f0e6;
	padding: 15px 25px 15px 25px;
	float: right;
	margin-bottom: 10px;
	border-radius: 0px 0px 5px 5px;
} 

.divider
{
	clear: both;
	display: table;
	height: 50px;
	width: 100%;
	background-color: #aadcdc;
	border-radius: 5px 5px 0px 0px;
}

.divider_subpage
{
	clear: both;
	position: fixed;
	display: table;
	height: 50px;
	width: 720px;
	z-index: 100;
	background-color: #aadcdc;
	border-radius: 5px 5px 0px 0px;
}

.divider_right 
{
	float: right;
	width: 470px;
	display: table;
	height: 50px;
	background-color: #aadcdc;
	border-radius: 5px 5px 0px 0px;
}

.divider_image
{
	float: left;
	height: 40px;
	margin: 5px;
}

.icon
{
	max-height: 40px;
	max-width: 40px;
	float: left;
	clear: both;
	margin: 5px;
}

.icon_right
{
	height: 40px;
	float: right;
	margin: 5px;
}



.diagram
{
	width: 600px;
	max-height: 300px;
	display: table;
	margin: 0 auto;
}

.diagram_m
{
	width: 600px;
	max-height: 200px;
	display: table;
	margin: 0 auto;
}

.diagram_s
{
	width: 600px;
	max-height: 100px;
	display: table;
	margin: 0 auto;
}

.section
{
	background-color: #f0f0e6;
	border-radius: 0px 0px 5px 5px;
	display: inline-block;
	padding: 15px 30px 15px 30px;
	width: 660px;
	margin-bottom: 10px;
}

.section_subpage
{
	background-color: #f0f0e6;
	border-radius: 0px;
	display: inline-block;
	padding: 15px 30px 15px 30px;
	width: 660px;
	margin-top:50px;
}

table
{
	margin: auto;
}
details
{
	background-color: #f0f0e6;
	border-radius: 0px 0px 5px 5px;
	margin-bottom: 10px;
}

summary
{
	margin-left: 5px;
}

.outer
{
	display: table;
}

.h_center_inner
{
	display: table;
	margin: 0 auto;
}

.answer
{
	border-radius: 10px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #cdffa5;
	display: table;

}

.v_center_inner 
{
	display: table-cell;
	vertical-align: middle;
}
	
h1
{
	margin-bottom: 5px;

}

h2
{
	font-weight: 400;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h3
{
	margin-top: 0px;
	margin-bottom: 0px;
}

h4
{
	margin-bottom: 0px;
}

div
{
	border-radius: 5px;
}

.calculator
{
	display: table;
	margin: 0 auto;
	background-color: #323232;
	color: #00ff00;
	padding: 10px;
	border-radius: 10px;
	font-family: Consolas, Courier;
	font-size: 0.8em;
}

input[type = "text"]
{
	background-color: #4b4b4b; 
	border-color: #00ffff;
	border: none;
	border-radius: 5px;
	font-family: Courier;
	color: #00ffff;
}

p 
{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: justify;
}

blockquote
{
	font-style: italic;
	text-align: justify;
	margin-right: 0px;
}

li
{
	text-align: justify;
}

a 
{
    color: #5050c8;
    text-decoration: none;
}

a:hover
{
	font-weight: 400;
}

.button_link
{
	color: darkcyan;
	text-decoration: none;
}



.button
{
    height: 50px;
	width: 209px;
	background-color: #e1ffff;
	font-size: 20px;
	text-align: center;
	border-width: 0px;
	border-radius: 0px;
	margin: 0px;
}

.button_outer
{
	display: inline-block;
	margin-top: 3px;
}

.button_square
{
	height: 100px;
	width: 153.5px;
	background-color: #e1ffff;
	border-color: #64d2dc;
	border-style: solid;
	font-size: 0.8em;
	text-align: center;
	border-width: 1px;
	border-radius: 0px;
	display: inline-block;
}

.button_rect
{
	height: 45px;
	width: 320px;
	background-color: #e1ffff;
	border-color: #64d2dc;
	border-style: solid;
	font-size: 0.8em;
	text-align: center;
	border-width: 1px;
	border-radius: 0px;
	display: inline-block;
}

.button_square img
{
	max-height: 75px;
	max-width: 150px;
}

.button_rect img
{
	max-height: 80px;
	max-width: 317px;
}

.button:hover
{
	font-weight: 400;
	background-color: #f0f0f0;
}

.button_square:hover
{
	font-weight: 400;
	background-color: #f0f0f0;
}

.button_rect:hover
{
	font-weight: 400;
	background-color: #f0f0f0;
}

.padded_image
{
	margin: 15px 15px 15px 0px;
	max-height: 200px;
	float: left;
	clear: both;
}
	
#footer 
{
	clear: both;
	display: table;
	height: 50px;
	width: 100%;
	background-color: #ff9b37;
	border-radius: 0px 0px 5px 5px;
}

-------------
#draggable
{
	text-anchor: start;
	cursor: pointer;
	text-anchor: middle;
}

svg 
{
	background: GRAY;
}

circle 
{
	fill: steelblue;
	stroke: #fff;
	stroke-width: 3px;
}

